@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, */
/* body {
  @apply m-0 p-0 w-full h-full bg-white text-gray-900;
  font-family: "Inter", sans-serif;
} */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
